.Card{
    background-image: linear-gradient(to bottom right, black, rgb(218, 218, 218));
    width: 350px;
    height: 200px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    margin-bottom: 10px;
}

.VISA{
    background-image: linear-gradient(to bottom right, black, rgb(94, 96, 245));
    width: 350px;
    height: 200px;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 20px;
    margin-bottom: 10px;
}

.showData{
    font-size: 25px;
    color: blanchedalmond;
}
.logo{
    width: 140px;
    height: 20px;
}
.banco{
    text-align: left;
    padding: 2%;
    margin-left: 3px;
    font-size: 30px;
}
.banMagnetic{
    width: 100%;
    height: 40px;
    background-color: black;
    margin-top: 25px;
}
.spaceSign{
    margin-top:10px;
    margin-left: 50px;
    background-color: blanchedalmond;
    width: 200px;
    height: 40px;
}