ul {
  margin: 0;
  text-decoration: none;
}
li{
  text-decoration: none;
}
li:hover a{
  color: #a820ca;
  background-color: #000;
} 
a {
  color: #000000;
  text-decoration: none;
  font-size: 30px;
} 
.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  width: 100vw;
  min-height: 100vh;
}
.Container {
  width: 100vw;
  padding: 20px 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Menu-item {
  color: white;
}
.Menu-item-active {
  color: yellow;
  border-bottom: 0.4rem solid teal;
  cursor: not-allowed;
}
